@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
  }

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif ;
    font-weight: regular;
    color: #2A2F1F;
}

.game-container {
    position: relative;
    background-color: #ecece6;
    height: 100vh;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.spin-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
}

.heading {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.heading h1, .heading p {
    font-size: 20px;
    font-weight: bold;
}