@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* GLOBAL AREA*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
  }

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif ;
    font-weight: regular;
    color: #6c582c;
}

/* MAIN GAME CONTAINER */
.game-container {
    position: relative;
    background-color: #ecece6;
    height: 100vh;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

/* SPIN AND HEADER SECTION */
.spin-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    background: linear-gradient(to left bottom, #9ddcdc, #bee399);
    border-radius: 0 0 50% 50%;
    z-index: 2;
}

/* Header */
.heading {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.heading > * {
    font-size: 1.2em;
    font-weight: 700;
    padding: 10px 20px;
}

.logo {
    width: 7em;
}

/* Spin button */
.spin-button {
    padding: 13px;
    background: linear-gradient(#a58e57, #bee399, #a58e57);
    border: 5px groove #7f8b7c;
    border-radius: 10px;
    font-size: 1.1em;
    z-index: 8;
}

/* Wheel */
.wheel-wrapper {
    aspect-ratio: 1 / 1;
    height: 40%;
}

.wheel-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #bac189;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #d9d9db;
}

.animated-circle {
    background: transparent;
    width: 85%;
    height: 85%;
    border: 5px double #bac189;
    border-radius: 50%;
    border-left-color: #7f8b7c;
    border-right-color: #7f8b7c;
    animation: spin 20s linear infinite;
}
@keyframes spin {
    100% {
      transform: rotateZ(360deg);
    }
  }


/* MAIN SECTION */

/* Word Definition */
#definition-wrapper {
    overflow: hidden;
    color: black;
    text-align: center;
    margin: 30px 40px 5px;
    padding: 5px 0;
    border-top: 2px inset;
    border-bottom: 2px outset;
    height: 0px;
    transition: height 0.4s ease-out;
}

/* Hidden word */
#word-wrapper {
    height: 10vh;
    margin: 30px 40px 5px;
}

#word-list {
    display: flex;
    list-style: none;
    height: 100%;
    background: #7f8b7c;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
}

#word-list li {
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #ecece6;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    perspective: 600px;
    }

.front, .back {
    position: absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.2s ease-in;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
}

.front {
    background: #bac189;
    transform: rotateX(0) rotateY(0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background: #7f8b7c;
    transform: rotateY(-179deg);
}


.flip .front{
    transform: rotateY(180deg);
}

.flip .back {
    transform: rotateX(0) rotateY(0);
}